<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.78.0" targetFramework="native" />
  <package id="boost_filesystem-vc142" version="1.78.0" targetFramework="native" />
  <package id="boost_log-vc142" version="1.78.0" targetFramework="native" />
  <package id="boost_thread-vc142" version="1.78.0" targetFramework="native" />
  <package id="fmt" version="7.0.1" targetFramework="native" />
  <package id="gtest" version="1.7.0" targetFramework="native" />
</packages>